<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">For everything your company needs on the web.</h2>
                <hr class="light">
                <p class="text-faded">Tempest agency developers have delivered dozens of small to high profile sites for everything from selling smoothies, to furniture, to courier and moving services.</p>
                <a href="mailto:contact@tempestagency.com" class="btn btn-default btn-xl">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
